* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/background.jpg)
}

h1 {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.startingImage {
    margin: 0;
    padding: 10px;
    float: none !important;
}

#startingImageBar {
	max-width: 100%
}

.hidden {
	visibility: hidden;
}

.imageBlock {
    background-color: #fff;
    max-width: 20%;
}