* {
	box-sizing: border-box;
}

body {
	background-image: url(../images/background.jpg)
}

h1 {
	color: #fff;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.startingImage {
    margin: 0;
    padding: 0px;
    border: none;
}

#startingImageBar {
	max-width: 100%
}

.hidden {
	visibility: hidden;
}

.imageBlock {
    background-color: #fff;
    max-width: 20%;
    margin: 10px;
}

.nameText {
    line-height: 1px;
}

.hpText {
    margin-top: 0;
}

.greenBlock {
    border: 3px solid green;
    border-radius: 25%;
    background-color: green;
}

.enemyBlock {
    border: 3px solid red;
    border-radius: 25%;
    background-color: red;
}

#defenderBlock {
    border: 1px solid white;
    border-radius: 25%;
    background-color: black;
    color: white;
}